<div class="my-4">

	<!-- Form tìm kiếm -->
	<partial name="_SearchForm" />

	<!-- Các chuyên mục/chủ đề-->
	@await Component.InvokeAsync("CategoriesWidget")

	<!-- Top bài viết nổi bật-->
	@await Component.InvokeAsync("OutstandPostWidget")

	<!-- 6 bài viết ngẫu nhiên -->
	@await Component.InvokeAsync("RandomPosts")
	<!-- Đk nhận tin mới -->
	<h1>
		Đăng ký nhận tin mới
	</h1>

	<!-- Tag cloud -->
	@await Component.InvokeAsync("TagWidget")
</div>
